@media (max-width: 620px) {
  .header {
    box-shadow: $border-shadow;
    color: $header-color;

    .header__nav {
      @include flex-basic;
      transition: 0.3s;
      padding: 10px;
      flex-wrap: nowrap;

      .header__logo {
        font-size: 30px;
        font-weight: bold;
        color: #242f51;
      }

      .header__span {
        color: $header-span-color;
      }

      .header__sidebar {
        @include sidebar;

        .list {
          font-size: 18px;
          margin: 10px;
          list-style-type: none;

          .list__link {
            margin-bottom: 20px;
          }

          .list__link a {
            padding: 0px 8px 8px px;
            text-decoration: none;
            color: $accent;
            display: block;
            transition: 0.3s;
          }

          .list__link a:hover {
            color: #444;
          }
        }

        .closebtn {
          position: absolute;
          top: 0;
          right: 25px;
          font-size: 50px;
          margin-left: 50px;
        }

        .free-button {
          @include blue-button;
        }
      }

      .header__openbtn {
        @include open-button;

        &:hover {
          color: #999999;
        }
      }
    }
  }
}


@media (min-width:621px) {

  .header {
    padding: 0px 30px 0px 30px;
    box-shadow: $border-shadow;
    $header-color: #e1e1e1;

    .header__nav {
      transition: 0.3s;
      padding: 10px;
      @include flex-basic;

      .header__logo {
        font-size: 30px;
        font-weight: bold;
        color: #242f51;
      }

      .header__span {
        color: #feaa25;
      }

      .header__sidebar {
        height: 100%;
        width: 0px;
        position: fixed;
        z-index: 1;
        top: 0;
        right: 0px;
        background-color: rgb(239, 239, 239);
        overflow: hidden;
        transition: none;
        padding-top: 70px;

        .list {
          font-size: 18px;
          margin: 10px;
          list-style-type: none;

          .list__link {
            margin-bottom: 20px;
          }

          .list__link a {
            padding: 0px 8px 8px px;
            text-decoration: none;
            color: $accent;
            display: block;
            transition: none;
          }

          .list__link a:hover {
            color: #444;
          }
        }

        .closebtn {
          position: absolute;
          top: 0;
          right: 25px;
          font-size: 50px;
          margin-left: 50px;
        }

        .free-button {
          @include blue-button
        }
      }

      .header__openbtn {
        @include open-button;

        &:hover {
          color: #666666;
        }
      }
    }
  }
}


@media (min-width:900px) {

  .header {
    padding: 10px 0 10px 0;
    border: none;
    box-shadow: none;

    .header__nav {
      padding: 16px 30px;
      transition: none;

      .header__sidebar {
        height: 50px; //
        min-width: 700px;
        background-color: $white;
        @include flex-basic;
        position: relative;
        transition: none;
        padding: 0px;

        .list {
          font-size: 16px;
          @include flex-basic;
          padding-left: 0;
          padding-right: 0;
          margin-left: 90px;

          .list__link {
            margin: 0 20px 0px 0px;
          }

          .list__link a {
            padding: 0;

          }

          .list__link:first-child {
            display: none;
          }
        }

        .free-button {
          @include blue-button;
          margin-top: 0px;
        }

        .free-button:hover {
          background-color: $hover-color;
        }
      }

      .header__openbtn {
        display: none;
      }
    }
  }
}

@media (min-width:1170px) {

  .header {
    padding: 10px 80px 10px 80px;
    border: none;
    box-shadow: none;

    .header__nav {
      transition: none;
      padding: 16px 30px;

      .header__sidebar {
        min-width: 780px;
        transition: none;

        .list {
          font-size: 18px;
          margin-left: 0px;

          .list__link {
            margin: 0 40px 0 0;
          }
        }
      }
    }
  }
}
