@import "_variables.scss";

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  @include centered;

  font-size: 16px;
  font-family: $body-font;
}

.wrapper {
  @include centered;

  max-width: 1650px;
  overflow: hidden;
  margin: 0 auto;
}
