@media (max-width: 620px) {
  .designed {
    @include centered;

    border-bottom: 2px solid $border_color;

    .designed__container {
      @include centered;

      margin: 0 20px;
      padding-bottom: 50px;

      .designed-image {
        width: 100%;
        object-fit: cover;
      }

      .designed-text {
        @include flex-primary;

        max-width: 100%;
        flex-direction: column;
        margin-top: 60px;
        color: $body-color;

        .designed-text__title {
          color: $accent;
          font-size: $title-font-size;
          font-weight: $title-font-weight;
          margin: 0 0 20px;
          line-height: 140%;
        }

        .designed-text__content {
          color: $body-color;
          font-size: $paragraph-font-size;
          font-family: $body-font;
          padding-right: 10px;
        }

        .designed__button_link {
          @include blue-button;

          width: 80%;
          height: 65px;
          padding-top: 20px;
          text-decoration: none;
        }

        .designed__button_link:hover {
          background-color: $hover-color;
        }
      }
    }
  }
}

@media (min-width: 621px) {
  .designed {
    @include centered;

    border-bottom: 2px solid $border_color;

    .designed__container {
      @include centered;
      @include flex-primary;

      flex-direction: column;
      margin: 0 50px;
      padding-bottom: 50px;

      .designed-image {
        width: 580px;
        object-fit: cover;
      }

      .designed-button:hover {
        background-color: $hover-color;
      }

      .designed-text {
        @include flex-primary;

        width: 580px;
        flex-direction: column;
        margin-top: 60px;
        color: $body-color;

        .designed-text__title {
          color: $accent;
          font-size: $title-font-size;
          font-weight: $title-font-weight;
          margin: 0 0 20px;
          line-height: 140%;
        }

        .designed-text__content {
          color: $body-color;
          font-size: $paragraph-font-size;
          font-family: $body-font;
          padding-right: 40px;
        }

        .designed__button_link {
          @include blue-button;

          width: 80%;
          height: 65px;
          padding-top: 20px;
          text-decoration: none;
        }

        .designed__button_link:hover {
          background-color: $hover-color;
        }
      }
    }
  }
}

@media (min-width: 900px) {
  .designed {
    @include flex-primary;

    .designed__container {
      @include flex-basic;

      width: 840px;
      margin: 40px 20px;
      flex-direction: row;
      padding-bottom: 60px;

      .designed-image {
        width: 430px;
        object-fit: cover;
        transform: translate(-30px);
      }

      .designed-text {
        @include flex-primary;

        width: 410px;
        flex-direction: column;
        align-items: flex-start;
        margin-top: 0;
        color: $body-color;

        .designed-text__title {
          color: $accent;
          font-size: $title-font-size;
          font-weight: $title-font-weight;
          margin: 0 0 20px;
          line-height: 140%;
        }

        .designed-text__content {
          color: $body-color;
          font-size: $paragraph-font-size;
          font-family: $body-font;
          box-sizing: border-box;
          margin-bottom: 20px;
          padding-right: 0;
        }

        .designed-button {
          @include blue-button;

          width: 210px;
          height: 65px;
          margin-top: 30px;
        }
      }
    }
  }
}

@media (min-width: 1170px) {
  .designed {
    .designed__container {
      @include flex-basic;

      width: 1050px;

      .designed-image {
        width: 480px;
        transform: translate(0);
      }

      .designed-text {
        width: 500px;

        .designed-text__title {
          margin: 0 0 20px 40px;
        }

        .designed-text__content {
          margin-left: 40px;
        }

        .designed-button {
          margin: 30px 0 0 40px;
        }
      }
    }
  }
}
