@media (max-width: 620px) {
    .we-built {
        @include centered;
        .we-built__container {
            max-width: 100%;
            margin: 30px 0px;
            overflow: hidden;
            .we-built__container_text {
                margin-bottom: 30px;
                padding: 0 30px;
                .title {
                    color: $accent;
                    font-size: $title-font-size;
                    font-weight: $title-font-weight;
                    line-height: 140%;
                    margin-bottom: 30px;
                    display: block;
                }
                .subtitle {
                    color: $body-color;
                    font-size: $paragraf-font-size;
                    padding-bottom: 30px;
                }
                .we-built__container_boxes {
                    @include flex-primary;
                    flex-direction: column;
                    .box {
                        @include flex-primary;
                        flex-direction: column;
                        margin-bottom: 60px;
                        .icon-red {
                            @include box-icon;
                            background-color: $icon-red-bg;
                            margin-bottom: 30px;
                            }
                        .content-red {
                            @include centered;
                            color: $body-color;
                            text-align: center;
                            .box__header_red {
                                @include box-header;
                                color: $accent; 
                            }
                        }
                        .icon-gray {
                            @include box-icon;
                            background-color: $icon-blue-bg;
                            margin-bottom: 30px;
                        }
                        .content-gray {
                            @include centered;
                            color: $body-color;
                            text-align: center;
                            .box__header_gray {
                                @include box-header;
                                color: $accent; 
                            }
                        }
                        .icon-orange {
                            @include box-icon;
                            background-color: $icon-orange-bg;
                            margin-bottom: 30px;
                        }
                        .content-orange {
                            @include centered;
                            color: $body-color;
                            text-align: center;
                            .box__header_orange {
                                @include box-header;
                                color: $accent;
                            } 
                        }
                        .icon-redlight {
                            @include box-icon;
                            background-color: $icon-gray-bg;
                            margin-bottom: 30px;
                        }
                        .content-redlight {
                            @include centered;
                            color: $body-color;
                            text-align: center;
                            .box__header_redlight {
                                @include box-header;
                                color: $accent;
                            } 
                        }
                    }
                }
                .we-built-button {
                    @include flex-primary;
                    .we-built-btn {
                    @include button;
                    width:80%;
                    text-align: center;
                    text-decoration: none;
                    padding-top: 20px;
                    padding-bottom: 20px;
                    }
                    .we-built-btn:hover {
                        background-color: $hover-color;
                    }
                }
            }
            .we-built__container_pictures {
                @include centered;
                @include flex-primary;
                flex-direction: column;
                max-width: 100%;
                height: 100%;
                margin-top: 40px;
                padding-bottom: 80px;
                position: relative;
                display: block;
                box-sizing: border-box;
                .pictures {
                    max-width:100%;
                    max-height: 100%;
                    .elipses-2 {
                        width:100%;
                        z-index: -1;
                   }
                   .phone-first {
                       position: absolute;
                       width: 65%;
                       transform: rotate(-15deg) translateX(5%) translateY(1%);
                       top: 0px;
                       left: 0px;
                       z-index: 1;
                    }
                    .phone-second {
                       position: absolute;
                       top: 0;
                       left: 0px;
                       transform: translateX(36%) translateY(3%);
                       max-width: 80%;
                       z-index: 2;
                    }
                }      
            }
        }   
    }
}
@media (min-width: 621px) {
    .we-built {
        @include centered;
        @include flex-primary;
        .we-built__container {
            @include flex-primary;
            max-width: 635px;
            margin: 30px 0px;
            .we-built__container_text {
                margin-bottom: 30px;
                padding: 30px;
                .title {
                    color: $accent;
                    font-size: $title-font-size;
                    font-weight: $title-font-weight;
                    line-height: 140%;
                    margin-bottom: 30px;
                    display: block;
                }
                .subtitle {
                    color: $body-color;
                    font-size: $paragraf-font-size;
                    padding-bottom: 30px;
                }
                .we-built__container_boxes {
                    @include flex-basic;
                    justify-content: space-evenly;
                    flex-direction: row;
                    .box {
                        width: 260px;
                        @include flex-primary;
                        flex-direction: column;
                        margin-bottom: 60px;
                        .icon-red {
                            @include box-icon;
                            background-color: $icon-red-bg;
                            margin-bottom: 30px;
                            }
                        .content-red {
                            @include centered;
                            color: $body-color;
                            text-align: center;
                            .box__header_red {
                                @include box-header;
                                color: $accent; 
                            }
                        }
                        .icon-gray {
                            @include box-icon;
                            background-color: $icon-blue-bg;
                            margin-bottom: 30px;
                        }
                        .content-gray {
                            @include centered;
                            color: $body-color;
                            text-align: center;
                            .box__header_gray {
                                @include box-header;
                                color: $accent; 
                            }
                        }
                        .icon-orange {
                            @include box-icon;
                            background-color: $icon-orange-bg;
                            margin-bottom: 30px;
                        }
                        .content-orange {
                            @include centered;
                            color: $body-color;
                            text-align: center;
                            .box__header_orange {
                                @include box-header;
                                color: $accent;
                            } 
                        }
                        .icon-redlight {
                            @include box-icon;
                            background-color: $icon-gray-bg;
                            margin-bottom: 30px;
                        }
                        .content-redlight {
                            @include centered;
                            color: $body-color;
                            text-align: center;
                            .box__header_redlight {
                                @include box-header;
                                color: $accent;
                            } 
                        }
                    }
                }
                .we-built-button {
                    @include flex-primary;
                    .we-built-btn {
                        @include button;
                        width:80%;
                        text-align: center;
                        text-decoration: none;
                        padding-top: 20px;
                        padding-bottom: 20px;
                    }
                    .we-built-btn:hover {
                        background-color: $hover-color;
                    }
                }
            }
            .we-built__container_pictures {
                @include centered;
                @include flex-primary;
                flex-direction: column;
                max-width: 100%;
                height: 100%;
                margin-top: 10px;
                position: relative;
                display: block;
                box-sizing: border-box;
                .pictures {
                    max-width:100%;
                    max-height: 100%;
                    .elipses-2 {
                        max-width:100%;
                        z-index: -1;
                   }
                   .phone-first {
                       position: absolute;
                       width: 60%;
                       transform: rotate(-15deg) translateX(5%) translateY(1%);
                       top: 0px;
                       left: 0px;
                       z-index: 1;
                    }
                    .phone-second {
                       position: absolute;
                       top: 0;
                       left: 0px;
                       transform: translateX(44%) translateY(3%);
                       max-width: 75%;
                       z-index: 2;
                    }
                }  
            }
        }
    }
}
@media (min-width: 900px) {
    .we-built {
        @include centered;
        overflow: hidden;
        .we-built__container {
            position: relative;
            @include flex-primary;
            justify-content: flex-start;
            min-width: 899px;
            margin: 30px 0px ;
            @include margin-auto;
            .we-built__container_text {
                max-width: 560px;
                @include flex-primary;
                align-items: flex-start;
                flex-direction: column;
                padding-left: 30px;
                margin-left: 0px;
                .title {
                }
                .subtitle {
                }
                .we-built__container_boxes {
                    width: 570px;
                    margin-left: 0;
                    justify-content: flex-start;
                    .box {
                        width: 225px;
                        align-items: flex-start;
                        margin-right: 60px;

                        .content-red{
                            text-align: start;
                        }
                        .content-gray {
                            text-align: start;
                        }
                        .content-orange {
                            text-align: start;
                        }
                        .content-redlight{
                            text-align: start;
                        }
                    }
                }
                .we-built-button {
                    //@include flex-primary;
                    .we-built-btn {
                        width:220px;
                        text-align: center;
                        text-decoration: none;
                        padding-top: 20px;
                        padding-bottom: 20px;
                        cursor: pointer;
                    }
                    .we-built-btn:hover {
                        background-color: $hover-color;
                    }
                }    
            }
            .we-built__container_pictures {
                position: absolute;
                width: 100%;
                height: 100%;
                z-index: -1;
                .pictures {
                    .elipses-2 {
                        position: absolute;
                        width: 100%;
                        height: 90%;
                        top: 80px;
                        left: 70%;
                        z-index: -1;
                    }
                    .phone-first {
                        position: absolute;
                        width: 30%;
                        transform: rotate(-15deg);
                        top: 270px;
                        left: 69%;
                        z-index: 1;
                    }
                    .phone-second {
                        width: 40%;
                        position: absolute;
                        top: 100px;
                        left: 63%;
                        z-index: 2;
                    }
                }
            }
        }
    }
}
@media (min-width: 1170px) {
    .we-built {
        .we-built__container {  
            min-width: 1169px;             
            .we-built__container_text {
                padding-left: 60px;          
                .title {
                }
                .subtitle {
                }
                .we-built__container_boxes {
                    width: 710px;                 
                    .box {
                        width: 265px;
                    }
                }
            }
            .we-built__container_pictures {
                .pictures {
                    .elipses-2 {
                        width: 95%;
                        height: 95%;
                        top: 70px;       
                        left: 63%;      
                    }
                    .phone-first {
                        width: 27%;    
                        top: 200px;     
                        left: 65%;       
                    }
                    .phone-second {
                        width: 37%;     
                        top: 100px;        
                        left: 60%;        
                    }
                }
            }
        }
    }
}