$body-font: Poppins,
sans-serif;
$title-font-size:30px;
$title-font-weight:600;
$paragraf-font-size: 16px;
$hero-heading-size: 60px;
$hero-heading-sizeSM: 40px;
$hero-subtitle-size: 18px;
$box-header-size: 20px;
$body-color: #616368;
$primary-color: #2500f9;
$secondary-color: #2563ff;
$hover-color:#0200c6;
$white: #fff;
$black: #000;
$accent: #242f51;
$green: #40975f;
$red: #f55767;
$orange:#fff6d3;
$gray:#f4f4ff;
$redlight:#fdeee4;
$award-color:#e2eaed;
$header-color: #e1e1e1;
$border-color: #f4f4f4;
$shadow_color: #9f9f9f;
$border-shadow:0px 0px 20px $shadow-color;
$header-span-color: #feaa25;
$icon-red-bg: #ffecef;
$icon-redlight-bg:#fdeee4;
$icon-blue-bg:#eaf9ff;
$icon-green-bg:#e4ffee;
$icon-orange-bg:#fff6d3;
$icon-gray-bg:#f4f4ff;
$planning-list-color:#b1b1b3;

@mixin centered {
  margin: 0;
  padding: 0;
}

@mixin flex-basic {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

@mixin flex-primary {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

@mixin blue-button {
  color: $white;
  background-color: $primary-color;
  width: 150px;
  height: 50px;
  border-radius: 50px;
  outline: none;
  border: none;
  margin-left: 30px;
  margin-top: 30px;
  font-size: 16px;
  font-weight: 700;
  cursor: pointer;
  text-align: center;
}

@mixin button {
  color: $white;
  background-color: $primary-color;
  border-radius: 50px;
  outline: none;
  border: none;
  font-size: 16px;
  font-weight: 700;
  cursor: pointer;
}

@mixin open-button {
  font-size: 30px;
  cursor: pointer;
  background-color: transparent;
  color: black;
  padding: 10px 15px;
  outline: none;
  border: none;
}

@mixin sidebar {
  height: 100%;
  width: 0px;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0px;
  background-color: rgb(239, 239, 239);
  overflow: hidden;
  padding-top: 70px;
}

@mixin image-fit {
  max-width: 100%;
  object-fit: cover;
}

@mixin box {
  @include flex-primary;
  justify-content: flex-start;
  flex-wrap: nowrap;
  margin-bottom: 40px;
}

@mixin box-icon {
  min-width: 90px;
  min-height: 90px;
  @include flex-primary;
  border-radius: 50px;
}

@mixin box-content {
  max-width: 75%;
  padding-left: 30px;
  text-align: left;
  overflow: hidden;
  color: $body-color;
}

@mixin box-header {
  @include centered;
  font-weight: 600;
  font-size: $box-header-size;
  padding-bottom: 8px;
}

@mixin block-box {
  display: block;
  box-sizing: border-box;
}

/* for switch in section planning */
@mixin month-year {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  color: #666;
  font-size: 18px;
  font-weight: bold;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin-left: 188px;
  z-index: 1;
}

@mixin margin-auto {
  margin-left: auto;
  margin-right: auto;
}
